@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
.contene {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjust spacing between image and text */
    padding: 20px; /* Add padding for better spacing */
  
  }
  
  .dat {
    width: 100%; /* Adjust width as needed */
    padding-left: 40px;
  }
  
  .Nombre {
    font-family: "IBM Plex Sans", serif;

    font-size: 45px;
  }
  
  .Info {
    font-family: "IBM Plex Sans", serif;
    margin-top: 10px;
    font-size: 20px;

  }
  
  .Imagen {
    height: auto;
    width: 110%; 
    object-fit: cover; 
  }

  .boton {
    width: 130px;
    background-color: #a569bd;
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }
  
  .boton:hover {
    background-color: #fff;
  }
  @media (max-width: 1920px){
    .Info{
      background-color: "red";
    }
  }

  @media (max-width: 768px) {
    .contene {
      flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
      padding: 15px;
    }
  
    .dat {
      padding-left: 0; /* Eliminar padding izquierdo en pantallas pequeñas */
    }
  
    .Nombre {
      font-size: 35px; /* Reducir tamaño de fuente */
      text-align: center;
    }
  
    .Info {
      font-size: 18px; /* Reducir tamaño de fuente */
    }
  
    .Imagen {
      width: 100%; /* Ajustar la imagen para que no sea más ancha que el contenedor */
    }
  
    .boton {
      width: 100%; /* Hacer el botón más grande en pantallas pequeñas */
      height: 45px; /* Ajustar altura */
    }
  }
  
  @media (max-width: 480px) {
    .Nombre {
      font-size: 28px; /* Reducir aún más el tamaño de la fuente */

    }
  
    .Info {
      font-size: 16px; /* Reducir tamaño de la fuente */
    }
  
    .boton {
      height: 40px; /* Ajustar altura del botón */
    }
  }